/* Fuentes importadas desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&family=Nunito:wght@400;600&display=swap');

:root {
    --color-primario: #2F3A56;
    --color-secundario: #EAF2FA;
    --color-fondo: #FAF7F2;
    --color-texto: #2b2b2b;
    --color-acento: #E8A23A;

    --color-text: #3A3A3A;
    --color-naranja: #F4C76E;
    --arena: #E8DCC2;
    --color-primary-dark: #2F3A56;
    --color-text-light: #FDFBF7;
}
    
body {
    margin: 0;
    font-family: 'Gothic ', Garamond, 'Times New Roman', serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

.header-hoy {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    text-align: center;
    padding: 2.5rem 1.5rem;
}

.fecha {
    opacity: 0.9;
}

.titulo {
    margin: 0.5rem;
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--color-secundario);
    line-height: 1.2;
    text-shadow: var(--color-secundario) 1px 1px 2px;
}

.subtitulo {
    font-size: 1rem;
    opacity: 0.85;
}

.fecha {
    font-size: 1.5rem;
}

#indicador-liturgico {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.santo {
    font-size: 1.3rem;
/*   border: 1px solid #E8A23A;*/
    border-top: 0; /* Esto quita específicamente el de arriba */
    border-left: 0;
    border-radius: 0 0 5px 5px; /* Redondea solo las esquinas de abajo */
    max-width: fit-content;
    margin: 0 auto;
    padding: 10px;
    box-shadow: #2b2b2b 1px 1px 5px;
}

.santo {
    text-align: center; /* Centra todo el contenido (h2 y div) */
    margin: 10px auto;  /* Margen arriba/abajo y centrado horizontal del bloque */
    padding: 10px;
    border: 1px solid #E8A23A; 
    border-radius: 5px;
    max-width: fit-content;
}

/* Quitamos los márgenes automáticos que separan el nombre de la descripción */
.santo h2 {
    margin: 0; 
    font-size: 1.3rem; /* Ajusta según prefieras */
}

#descripcion-santo-del-dia {
    margin-top: 2px;   /* Un espacio mínimo para que no estén pegados */
    font-size: 0.9rem;
    font-style: italic;
    opacity: 0.8;
}


.tarjeta-difunto {
    text-align: center;
    margin: 10px 0;
}

.nombre-difunto {
    font-size: 1.2rem;
    color: var(--color-primario);
    padding: .5rem;
}

.bloque {
    text-align: center; /* Esto centrará textos, botones y listas */
    font-size: 1.5rem;
    margin: 2rem 1.5rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 1px solid var(--color-primario);
}

.bloque p {
    align-self: center;
}

/* Si usas listas <ul> en la intención, para que se centren hay que quitarles el padding */
.bloque ul {
    list-style: none; /* Quita los puntos si prefieres un look más limpio */
    padding: 0;
    margin: 10px 0;
}
