:root {
    --blanco-lino: #FAF7F2;
    --color-text: #3A3A3A;
    --color-naranja: #F4C76E;
    --color-naranja2: #E8A23A;
    --arena: #E8DCC2;
    --color-primary-dark: #2F3A56;
    --color-text-light: #FDFBF7;
  }